html,body{
	width: 100%;
	height: 100%;
}
.header{
	position: absolute;
    width: 100%;
	background: #fff;
    border-bottom: 1px solid gainsboro;
    padding-top:8px;
}
.header ul.mainmenu{
	margin:0;
	padding:0;
	text-align: center;
	position: relative;
	top:4px;
	text-decoration: none;
}
.header ul.mainmenu li{
	display: inline-block;
	list-style-type: none;
}
.header ul.mainmenu li a{
	display: block;
	padding:10px 30px;
	font-weight: 700;
	color:#7b7b7b;
	text-transform: uppercase;
	text-decoration: none;
}
.header ul.mainmenu li a:hover{
	color:#6dc9c9;
}
.header ul.rightmenu{
	text-align: center;
	position: relative;
	top:4px;
	
}
.header ul.rightmenu li{
	display: inline-block;
	list-style-type: none;
}
.header ul.rightmenu li a{
	display: block;
	padding:10px;
	font-weight: 700;
	color:#7b7b7b;
	text-transform: uppercase;
	text-decoration: none;
}
.header ul.rightmenu li a:hover{
	color:#6dc9c9;
}
.banner{
	width: 100%;
	height: 100%;
}
.tb{
	display: table;
	width: 100%;
	height: 100%;
}
.tb .cell{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.wraptextbanner{
	width: 580px;
	display: block;
	margin:0 auto;
}
.wraptextbanner h1{
	font-size: 42px;
	text-align: center;
	color:#fff;
	font-weight: 700;
}
.wraptextbanner p{
	text-align: center;
	font-size: 22px;
	color:#fff;
}
.banner .sosmed{
	position: absolute;
	bottom:10px;
	right:10px;
}
.banner .sosmed ul{
	margin:0;
	padding:0;
	text-align: center;
}
.banner .sosmed ul li{
	display: inline-block;
	list-style-type: none;
}
.banner .sosmed ul li a{
	display: block;
	color:#fff;
	padding:0 15px;
	text-align: center;
}
.banner .sosmed ul li a:hover{
	color:#333;
}
.down{
	position: absolute;
	width: 100%;
	bottom:30px;
}
.dot{
	width: 29px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background: transparent;
    border-radius: 18px;
    border: 1px solid white;
}
.dot a{
	display: block;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	margin:4px auto 0;
}
.firstsection{
	padding:40px 0;
}
.firstsection h2{
	text-align: center;
	margin:0 0 30px;
}
.firstsection p{
	text-align: center;

}
.bgsquare{
	height: 400px;
}
.wraptext{
	padding:40px;
}
.sec2{
	padding:0 0 60px;
}
.thirdsection{
	padding:60px 0;
}
.thirdsection p{
	text-align: center;
	color:#fff;
}
.fourthsection{
	padding:80px 0;
}
.fourthsection .mainimg{
	float:left;
	width: 50%;
	margin-right: 15px;
	height: 615px;
	margin-bottom:10px;
}
.fourthsection p{
	color:#fff;
}
.fourthsection h3{
	color:#fff;
	text-transform: uppercase;
	margin:0 0 30px;
}
.fourthsection .phead{
	color:#676767;
}
.fourthsection .rightimg,
.fourthsection .thirdimg{
	height: 300px;
	margin-bottom:15px;
	margin-left:52%;
}
.fourthsection .lastimg{
	height: 300px;
	margin-bottom:15px;
}
.fourthsection .wrap{
	padding:40px;
}
.testi{
	padding:80px 0;
	background: #ffe2d2;
}
.testi .wraptesti{
	background: #fff;
	border-radius: 40px;
	padding:30px;
}
.testi h2{
	margin:0 0 40px;
	color:#7b7b7b;
}
.testi p{
	font-size: 16px;
	line-height: 25px;
	color:#7b7b7b;
}
.testi h3{
	margin:0 0 5px;
}
.testi .quote{
	display: block;
	margin:0 auto;
	    position: relative;
}
.testi .quote i.fa{
	font-size: 44px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    background: #6dc9c9;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 85px;
}
.testi .pos{
	position: absolute;
	width: 100%;
}
.newsletter{
	padding:80px 0;
}
.newsletter .wrapform{
	    border-radius: 40px;
    box-shadow: 0 10px 10px #b3b3b3;
    padding: 80px 40px;
}
.newsletter h3{
	margin:0 0 20px;
}
.newsletter form{
	text-align: center;
}
.newsletter form input[type=email]{
	height: 38px;
	border-radius: 40px;
	padding:0 15px;
	outline: 0;
	border: 1px solid #909090;
}
.newsletter form input[type=submit]{
	background: #eba95b;
	border-radius: 40px;
	color:#fff;
	height: 38px;
	padding:0 25px;
	border:none;
}
.footer{
	padding:10px auto;
}
.footer ul li{
	list-style-type: none;
}
.footer ul li a{
	display: block;
	text-decoration: none;
	color:#868686;
	font-size: 12px;
	letter-spacing: 1px;
}
.footer ul li a:hover{
	color:#000;
}
.footer p{
	color:#868686;
}