@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i&display=swap');
/*


    font-family: 'Playfair Display', serif;

    font-family: 'Open Sans', sans-serif;

*/
*{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.space{
	height: 40px;
}
html,body{
	width: 100%;
	height: 100%;
}
.barmenu{
	display: none;
}
.header{
	position: relative;
    width: 100%;
	background: #fff;
    border-bottom: 1px solid gainsboro;
    padding-top:8px;
}
.header ul.mainmenu{
	margin:0;
	padding:0;
	text-align: center;
	position: relative;
	top:4px;
	text-decoration: none;
}
.header ul.mainmenu li{
	display: inline-block;
	list-style-type: none;
}
.header ul.mainmenu li a{
	display: block;
	padding:10px 30px;
	font-weight: 700;
	color:#7b7b7b;
	text-transform: uppercase;
	text-decoration: none;
}
.header ul.mainmenu li a:hover{
	color:#6dc9c9;
}
.header ul.rightmenu{
	text-align: center;
	position: relative;
	top:4px;
	
}
.header ul.rightmenu li{
	display: inline-block;
	list-style-type: none;
}
.header ul.rightmenu li a{
	display: block;
	padding:10px;
	font-weight: 700;
	color:#7b7b7b;
	text-transform: uppercase;
	text-decoration: none;
}
.header ul.rightmenu li a:hover{
	color:#6dc9c9;
}
.banner{
	width: 100%;
	height: 100%;
}
.bannerhalf{
	height: 300px;
}
.morehalf{
	height: 400px !important;
}
.tb{
	display: table;
	width: 100%;
	height: 100%;
}
.tb .cell{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.wraptextbanner{
	width: 580px;
	display: block;
	margin:0 auto;
}
.wraptextbanner h1{
	font-size: 42px;
	text-align: center;
	color:#fff;
	font-weight: 700;
}
.wraptextbanner h2{
	font-size: 38px;
	text-align: center;
	color:#fff;
	font-weight: 700;
	border:1px solid #fff;
	padding:10px 40px;
}
.wraptextbanner p{
	text-align: center;
	font-size: 22px;
	color:#fff;
}
.wraptextbanner h3{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	color:#fff;
}
.wraptextbanner h3.monthly{
	border:1px solid #fff;
	padding:10px 0;
}
.wraptextbanner h3.titlemorehalf {
    border: none;
    padding: 10px 0;
    font-size: 32px;
}
.wraptextbanner p.psmall{
	font-size: 14px;
}
.mcfirst{
	padding:80px 0;
}
.mcfirst img{
	display: block;
	margin:0 auto 50px;
}
.mcfirst h2{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-align: center;
	margin:20px 0;
}
.mcfirst p{
	text-align: center;
	font-size: 14px;
	margin:0;
}
.mcfirst .atag{
	margin:50px 0 0;
}
.mcfirst .atag a{
	    display: block;
    width: 200px;
    text-align: center;
    background: #EBA95B;
    border-radius: 25px;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
}
.mcfirst .atag a:hover{
	background: #e8b578;
}
.mcfirstbgcolor{
	background: #FFE2D2;
}
.mcfirstbgcolor h2{
	color:#9F9792;
}
.mcfirstbgcolor p{
	color:#9F9792;
}
.why{
	padding:80px 0;
}
.whycustom{
	padding:150px 0 80px;
}
.why h2{
	font-size: 80px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:0 0 50px 50px;
}
.why h2:before{
	content: "";
    width: 300px;
    height: 600px;
    background: #A5D8D8;
    position: absolute;
    z-index: -1;
    left: -50px;
    top: -82px;
}
.why img{
	display: block;
	margin:0 auto;
}
.why .labelstep{
	color:#A5D8D8;
}
.why h3{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 35px;
}
.why .line{
	width: 40px;
	height: 2px;
	background: #A5D8D8;
	margin:20px 0;
}
.chooseindividual{
	padding:80px 0;
	background: #FFE2D2;
}
.chooseindividualwhite{
	padding:80px 0;
	background: #FFF;
}
.chooseindividual .labelstep,
.chooseindividualwhite .labelstep{
	color:#A5D8D8;
}
.chooseindividual h3,
.chooseindividualwhite h3{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 35px;
}
.chooseindividual .line,
.chooseindividualwhite .line{
	width: 40px;
	height: 2px;
	background: #A5D8D8;
	margin:20px 0;
}
.chooseindividualwhite .atag a {
    display: block;
    background: #EBA95B;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.secfasting{
	padding:80px 0;
	background: #F6F6F6;
}
.secfasting h2{
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
.secfasting .line{
	width: 50px;
	height: 3px;
	background: #A5D8D8;
	margin:25px 0;
}
.secfasting img{
	margin-bottom:25px;
}
.secfasting ul{
	margin:0 0 0 15px;
	padding:0;
}
.secfasting ul li{
	font-size: 16px;
	padding:5px 0;
}
.banner .sosmed{
	position: absolute;
	bottom:10px;
	right:10px;
}
.banner .sosmed ul{
	margin:0;
	padding:0;
	text-align: center;
}
.banner .sosmed ul li{
	display: inline-block;
	list-style-type: none;
}
.banner .sosmed ul li a{
	display: block;
	color:#fff;
	padding:0 15px;
	text-align: center;
}
.banner .sosmed ul li a:hover{
	color:#333;
}
.greysection{
	background:#f6f6f6;
	padding:30px 0;
}
.greysection ul{
	text-align: center;
	margin:0;
	padding:0;
}
.greysection ul li{
	display: inline-block;
}
.greysection ul li a{
	display: block;
	padding:0 20px;
	font-weight: 700;
	text-decoration: none;
	color:#333;
	letter-spacing: 1px;
}
.greysection ul li a:hover{
	color:#939393;
}
.wrapproducts{
	padding: 80px 0;
}
.wrapproducts h3{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:20px 0 10px;	
	color:#A5D8D8;
}
.wrapproducts h4{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:5px 0 0;	
}
.wrapproducts p{
	font-size: 14px;
	margin:0 0 10px;	
}
.wrapproducts p a{
	text-decoration: underline;
	color:#000;
}
.programstart{
	padding:80px 0;
}
.programstart img{
	display: block;
	margin:0 auto;
}
.programstart h3{
	text-align: center;
	margin:15px 0;
	font-size: 18px;
	font-weight: 600;
	color:#000;
}
.programstart p{
	text-align: center;
	color:#333;
	font-size: 14px;
	padding:0;
	margin:0;
}
.programstart .atag{
	margin-top:50px;
}
.programstart .atag a {
    display: block;
    width: 200px;
    text-align: center;
    background: #EBA95B;
    border-radius: 25px;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
}
.programstart .atag a:hover{
	background: #e8b578;
}
.programone .wrap .imgplace{
	height: 500px;
}
.programone .wrap .wrapinside{
	padding:0 25%;
}
.programone .wrap .wrapinside h3{
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:0 0 30px;
	color:#7B7B7B;
}
.programone .wrap .wrapinside p{
	font-size: 14px;
	color:#333;
	margin:0;
}
.programone .wrap .wrapinside .atag{
	margin-top:30px;
}
.programone .wrap .wrapinside .atag a{
	display: block;
	background: #EBA95B;
	color:#fff;
	padding:10px;
	border-radius: 30px;
	width: 150px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.joinnow{
	padding:40px 0;
}
.joinnow h3{
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:0 0 30px;
	color:#7B7B7B;
	text-align: center;
}
.joinnow .atag{
	margin-top:20px;
	width: 100%;
}
.joinnow .atag a{
	display: block;
	background: #EBA95B;
	color:#fff;
	padding:10px;
	border-radius: 30px;
	width: 150px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin:0 auto;
}
.down{
	position: absolute;
	width: 100%;
	bottom:30px;
}
.dot{
	width: 29px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background: transparent;
    border-radius: 18px;
    border: 1px solid white;
}
.dot a{
	display: block;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	margin:4px auto 0;
}
.firstsection{
	padding:40px 0;
}
.firstsection h2{
	text-align: center;
	margin:0 0 30px;
}
.firstsection p{
	text-align: center;

}
.bgsquare{
	height: 400px;
}
.wraptext{
	padding:40px;
}
.sec2{
	padding:0 0 60px;
}
.thirdsection{
	padding:60px 0;
}
.thirdsection p{
	text-align: center;
	color:#fff;
	font-size: 16px;
}
.thirdsection h2{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:0 0 40px;
	font-size: 50px;
	color:#fff;
	text-align: center;
}
.fourthsection{
	padding:80px 0;
}
.fourthsection .mainimg{
	float:left;
	width: 50%;
	margin-right: 15px;
	height: 615px;
	margin-bottom:10px;
}
.fourthsection p{
	color:#fff;
}
.fourthsection h3{
	color:#fff;
	text-transform: uppercase;
	margin:0 0 30px;
}
.fourthsection .phead{
	color:#676767;
}
.fourthsection .rightimg,
.fourthsection .thirdimg{
	height: 300px;
	margin-bottom:15px;
	margin-left:52%;
}
.fourthsection .lastimg{
	height: 300px;
	margin-bottom:15px;
}
.fourthsection .wrap{
	padding:40px;
}
.bannerlogin{
	width: 100%;
	height: 100%;
}
.bannerlogin .row{
	height: 100%;
}
.bannerlogin .row .col-lg-6{
	height: 100%;
}
.bannerlogin h1{
	 font-family: 'Playfair Display', serif;
	 font-weight: 400;
	 font-size: 50px;
	 letter-spacing: 2px;
}
.bannerlogin .wrapinside{
	padding:0 25%;
}
.bannerlogin p a{
	color:#A5D8D8;
	text-decoration: none;
}
.bannerlogin p a:hover{
	color:#333;
}
.bannerlogin form input[type=text],
.bannerlogin form input[type=password]{
	width: 100%;
	height: 45px;
	border:none;
	border-radius: 40px;
	border:1px solid #A5D8D8;
	margin-bottom: 15px;
	padding:0 15px;
}
.bannerlogin form input[type=submit]{
	color:#fff;
	font-weight: 700;
	background:#A5D8D8;
	border:none;
	border-radius: 40px;
	text-align: center;
	width: 200px;
	display: block;
	margin:0;
	padding:20px 0;
}
.bannerlogin form input[type=submit]:hover{
	background:#8AB7B7;
}

.testi{
	padding:80px 0;
	background: #ffe2d2;
}
.testi .wraptesti{
	background: #fff;
	border-radius: 40px;
	padding:30px;
}
.testi h2{
	margin:0 0 40px;
	color:#7b7b7b;
}
.testi p{
	font-size: 16px;
	line-height: 25px;
	color:#7b7b7b;
}
.testi h3{
	margin:0 0 5px;
}
.testi .quote{
	display: block;
	margin:0 auto;
	    position: relative;
}
.testi .quote i.fa{
	font-size: 44px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    background: #6dc9c9;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 85px;
}
.testi .pos{
	position: absolute;
	width: 100%;
}
.newsletter{
	padding:80px 0;
}
.newsletter .wrapform{
	    border-radius: 40px;
    box-shadow: 0 10px 10px #b3b3b3;
    padding: 80px 40px;
}
.newsletter h3{
	margin:0 0 20px;
}
.newsletter form{
	text-align: center;
}
.newsletter form input[type=email]{
	height: 38px;
	border-radius: 40px;
	padding:0 15px;
	outline: 0;
	border: 1px solid #909090;
}
.newsletter form input[type=submit]{
	background: #eba95b;
	border-radius: 40px;
	color:#fff;
	height: 38px;
	padding:0 25px;
	border:none;
}
.footer{
	padding:20px 15px;
}
.footer ul li{
	list-style-type: none;
}
.footer ul li a{
	display: block;
	text-decoration: none;
	color:#868686;
	font-size: 12px;
	letter-spacing: 1px;
}
.footer ul li a:hover{
	color:#000;
}
.footer p{
	color:#868686;
}
@media only screen and (max-width: 991px){
	.bannerlogin .row .col-lg-6 {
	    height: auto;
	}
	.barmenu{
		display: block;
    float: right;
    margin: 20px 10px;
	}
	.barmenu a{
		display: block;
	}
	.barmenu a .bar{
		width: 50px;
		height: 2px;
		margin-bottom: 7px;
		background: #000;
	}
	.header ul.mainmenu,
	.header ul.rightmenu{
		display: none;
		margin:0;
		padding:0;
	}
	.header ul.mainmenuopen,
	.header ul.rightmenuopen{
		display: block;
	}
	.header ul.mainmenu li,
	.header ul.rightmenu li{
		display: block;
	}
	.fourthsection .mainimg{
		float:none;
		width: 100%;
		height: auto;
	}
	.fourthsection .rightimg, .fourthsection .thirdimg{
		width: 100%;
		height: auto;
		margin-left:0;
	}
	.fourthsection .lastimg{
		height: auto;
	}

	.testi .wraptesti {
	    margin-bottom: 80px;
	}
	.footer img{
		display: block;
		margin:0 auto;
	}
	.footer p{
		text-align: center;
	}
	.footer ul{
		margin:0 0 30px;
		padding:0;
		text-align: center;
	}
	

}